<div>
    <h2 data-translate="whatscoverApp.insuranceProduct.home.title">Insurance Products</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="insurance-product.registration.general" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="whatscoverApp.insuranceProduct.home.createLabel">
                        Create new Insurance Product
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'whatscoverApp.insuranceProduct.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="code"><span data-translate="whatscoverApp.insuranceProduct.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="whatscoverApp.insuranceProduct.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entryAgeLastBday"><span data-translate="whatscoverApp.insuranceProduct.entryAgeLastBday">Entry Age Last Bday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender"><span data-translate="whatscoverApp.insuranceProduct.gender">Gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="premiumTerm"><span data-translate="whatscoverApp.insuranceProduct.premiumTerm">Premium Term</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="policyTerm"><span data-translate="whatscoverApp.insuranceProduct.policyTerm">Policy Term</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="premiumRate"><span data-translate="whatscoverApp.insuranceProduct.premiumRate">Premium Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sumAssuredDeath"><span data-translate="whatscoverApp.insuranceProduct.sumAssuredDeath">Sum Assured Death</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sumAssuredTPD"><span data-translate="whatscoverApp.insuranceProduct.sumAssuredTPD">Sum Assured TPD</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sumAssuredADD"><span data-translate="whatscoverApp.insuranceProduct.sumAssuredADD">Sum Assured ADD</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sumAssuredHospIncome"><span data-translate="whatscoverApp.insuranceProduct.sumAssuredHospIncome">Sum Assured Hosp Income</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sumAssuredCI"><span data-translate="whatscoverApp.insuranceProduct.sumAssuredCI">Sum Assured CI</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sumAssuredMedic"><span data-translate="whatscoverApp.insuranceProduct.sumAssuredMedic">Sum Assured Medic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sumAssuredCancer"><span data-translate="whatscoverApp.insuranceProduct.sumAssuredCancer">Sum Assured Cancer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productWeightDeath"><span data-translate="whatscoverApp.insuranceProduct.productWeightDeath">Product Weight Death</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productWeightPA"><span data-translate="whatscoverApp.insuranceProduct.productWeightPA">Product Weight PA</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productWeightHospIncome"><span data-translate="whatscoverApp.insuranceProduct.productWeightHospIncome">Product Weight Hosp Income</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productWeightCI"><span data-translate="whatscoverApp.insuranceProduct.productWeightCI">Product Weight CI</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productWeightMedic"><span data-translate="whatscoverApp.insuranceProduct.productWeightMedic">Product Weight Medic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productWeightCancer"><span data-translate="whatscoverApp.insuranceProduct.productWeightCancer">Product Weight Cancer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="insuranceCompanyName"><span data-translate="whatscoverApp.insuranceProduct.insuranceCompany">Insurance Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productCategoryName"><span data-translate="whatscoverApp.insuranceProduct.productCategory">Product Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="insuranceProduct in vm.insuranceProducts track by insuranceProduct.id">
                    <td>{{insuranceProduct.code}}</td>
                    <td>{{insuranceProduct.name}}</td>
                    <td>{{insuranceProduct.entryAgeLastBday}}</td>
                    <td data-translate="{{'whatscoverApp.Gender.' + insuranceProduct.gender}}">{{insuranceProduct.gender}}</td>
                    <td>{{insuranceProduct.premiumTerm}}</td>
                    <td>{{insuranceProduct.policyTerm}}</td>
                    <td>{{insuranceProduct.premiumRate}}</td>
                    <td>{{insuranceProduct.sumAssuredDeath}}</td>
                    <td>{{insuranceProduct.sumAssuredTPD}}</td>
                    <td>{{insuranceProduct.sumAssuredADD}}</td>
                    <td>{{insuranceProduct.sumAssuredHospIncome}}</td>
                    <td>{{insuranceProduct.sumAssuredCI}}</td>
                    <td>{{insuranceProduct.sumAssuredMedic}}</td>
                    <td>{{insuranceProduct.sumAssuredCancer}}</td>
                    <td>{{insuranceProduct.productWeightDeath}}</td>
                    <td>{{insuranceProduct.productWeightPA}}</td>
                    <td>{{insuranceProduct.productWeightHospIncome}}</td>
                    <td>{{insuranceProduct.productWeightCI}}</td>
                    <td>{{insuranceProduct.productWeightMedic}}</td>
                    <td>{{insuranceProduct.productWeightCancer}}</td>
                    <td>{{insuranceProduct.insuranceCompanyName}}</td>
                    <td>{{insuranceProduct.productCategoryName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="insurance-product-detail({id:insuranceProduct.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="insurance-product.edit.general({id:insuranceProduct.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="insurance-product.delete({id:insuranceProduct.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
