<div>
    <h2 data-translate="whatscoverApp.insuranceProduct.home.title">Insurance Products</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="insurance-product.registration.general" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="whatscoverApp.insuranceProduct.home.createLabel">
                        Create new Insurance Product
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'whatscoverApp.insuranceProduct.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="code"><span data-translate="whatscoverApp.insuranceProduct.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="whatscoverApp.insuranceProduct.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender"><span data-translate="whatscoverApp.insuranceProduct.gender">Gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productCategoryName"><span data-translate="whatscoverApp.insuranceProduct.productCategory">Product Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="insuranceCompanyName"><span data-translate="whatscoverApp.insuranceProduct.insuranceCompany">Insurance Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shortDescription"><span data-translate="whatscoverApp.insuranceProduct.shortDescription">Short Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longDescription"><span data-translate="whatscoverApp.insuranceProduct.longDescription">Long Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minEntryAgeLastBday"><span data-translate="whatscoverApp.insuranceProduct.minEntryAgeLastBday">Min Entry Age Last Bday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxEntryAgeLastBday"><span data-translate="whatscoverApp.insuranceProduct.maxEntryAgeLastBday">Max Entry Age Last Bday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minSumAssured"><span data-translate="whatscoverApp.insuranceProduct.minSumAssured">Min Sum Assured</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxSumAssured"><span data-translate="whatscoverApp.insuranceProduct.maxSumAssured">Max Sum Assured</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="premUnit"><span data-translate="whatscoverApp.insuranceProduct.premUnit">Prem Unit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prodWeightLife"><span data-translate="whatscoverApp.insuranceProduct.prodWeightLife">Prod Weight Life</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productWeightCI"><span data-translate="whatscoverApp.insuranceProduct.productWeightCI">Product Weight CI</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prodWeightMedical"><span data-translate="whatscoverApp.insuranceProduct.prodWeightMedical">Prod Weight Medical</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productWeightCancer"><span data-translate="whatscoverApp.insuranceProduct.productWeightCancer">Product Weight Cancer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productWeightPA"><span data-translate="whatscoverApp.insuranceProduct.productWeightPA">Product Weight PA</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productWeightHospIncome"><span data-translate="whatscoverApp.insuranceProduct.productWeightHospIncome">Product Weight Hosp Income</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="insuranceProduct in vm.insuranceProducts track by insuranceProduct.id">
                    <td>{{insuranceProduct.code}}</td>
                    <td>{{insuranceProduct.name}}</td>
                    <td data-translate="{{'whatscoverApp.Gender.' + insuranceProduct.gender}}">{{insuranceProduct.gender}}</td>
                   	<td>{{insuranceProduct.insuranceCompanyName}}</td>
                    <td>{{insuranceProduct.productCategoryName}}</td>
                    <td>{{insuranceProduct.shortDescription}}</td>
                    <td>{{insuranceProduct.longDescription}}</td>
                    <td>{{insuranceProduct.minEntryAgeLastBday}}</td>
                    <td>{{insuranceProduct.maxEntryAgeLastBday}}</td>
                    <td>{{insuranceProduct.minSumAssured}}</td>
                    <td>{{insuranceProduct.maxSumAssured}}</td>
                    <td>{{insuranceProduct.premUnit}}</td>
                    <td>{{insuranceProduct.prodWeightLife}}</td>
                    <td>{{insuranceProduct.productWeightCI}}</td>
                    <td>{{insuranceProduct.prodWeightMedical}}</td>
                    <td>{{insuranceProduct.productWeightCancer}}</td>
                    <td>{{insuranceProduct.productWeightPA}}</td>
                    <td>{{insuranceProduct.productWeightHospIncome}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="insurance-product-detail.general({id:insuranceProduct.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="insurance-product.edit.general({id:insuranceProduct.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="insurance-product.delete({id:insuranceProduct.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
