
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInsuaranceAgencyLabel" data-translate="whatscoverApp.insuaranceAgency.home.createOrEditLabel">Create or edit a Insuarance Agency</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.insuaranceAgency.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.insuaranceAgency.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="whatscoverApp.insuaranceAgency.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.insuaranceAgency.code"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="whatscoverApp.insuaranceAgency.insuarance_company_id" for="field_insuarance_company_id">Insuarance Company Id</label>
            <input type="number" class="form-control" name="insuarance_company_id" id="field_insuarance_company_id"
                    ng-model="vm.insuaranceAgency.insuarance_company_id"
                    required/>
            <div ng-show="editForm.insuarance_company_id.$invalid">
                <p class="help-block"
                    ng-show="editForm.insuarance_company_id.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.insuarance_company_id.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="whatscoverApp.insuaranceAgency.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.insuaranceAgency.name"
                    ng-maxlength="200"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="whatscoverApp.insuaranceAgency.address_1" for="field_address_1">Address 1</label>
            <input type="text" class="form-control" name="address_1" id="field_address_1"
                    ng-model="vm.insuaranceAgency.address_1"
                    ng-maxlength="200"/>
            <div ng-show="editForm.address_1.$invalid">
                <p class="help-block"
                    ng-show="editForm.address_1.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="whatscoverApp.insuaranceAgency.address_2" for="field_address_2">Address 2</label>
            <input type="text" class="form-control" name="address_2" id="field_address_2"
                    ng-model="vm.insuaranceAgency.address_2"
                    ng-maxlength="200"/>
            <div ng-show="editForm.address_2.$invalid">
                <p class="help-block"
                    ng-show="editForm.address_2.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="whatscoverApp.insuaranceAgency.address_3" for="field_address_3">Address 3</label>
            <input type="text" class="form-control" name="address_3" id="field_address_3"
                    ng-model="vm.insuaranceAgency.address_3"
                    ng-maxlength="200"/>
            <div ng-show="editForm.address_3.$invalid">
                <p class="help-block"
                    ng-show="editForm.address_3.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
